<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
    <h2>Welcome to HyperJob!</h2>
    <div class="center">
        <a href="/login">Login</a>
    </div>
    <div class="center">
        <a href="/signup">Sign up</a>
    </div>
    <div class="center">
        <a href="/vacancies">Vacancies</a>
    </div>
    <div class="center">
        <a href="/resumes">Resumes</a>
    </div>
    <div class="center">
        <a href="/home">Personal Profile</a>
    </div>
</body>
</html>
